@using AgileDevDays.Web.Models;
@model List<AgileDevDays.Web.Models.ContentModel>
       
@foreach (ContentModel item in Model)
{
    <section>
        <div class="contentHeader">
            <span class="headerTitle">@item.Title</span>
            <span style="float: right; text-align: right;">@item.AuthorName <br /><span style="font-size: .8em">@item.PostedOn</span></span>             
        </div>
        <div class="clear" />
        <div>
            <div class="contentBody contentBox" style="float: left;">@Html.Raw(item.Content)</div>
            @if (User.IsInRole("Admin"))
            {
            <div class="editorBox contentBox">
                @Html.ActionLink("Edit", "Index", "Edit", new{contentId = item.ContentId}, null)
            </div>
            }
        </div>
        <div class="clear" />
    </section>
}
