@using AgileDevDays.Core.Helper;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" 
    <link href="@Url.Content("~/Content/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("ul.subnav").parent().append("<span></span>"); //Only shows drop down trigger when js is enabled (Adds empty span tag after ul.subnav*)  

            $("ul.topnav li span").hover(function () { //When trigger is clicked...  

                //Following events are applied to the subnav itself (moving subnav up and down)  
                $(this).parent().find("ul.subnav").slideDown('fast').show(); //Drop down the subnav on click  

                $(this).parent().hover(function () {
                }, function () {
                    $(this).parent().find("ul.subnav").slideUp('slow'); //When the mouse hovers out of the subnav, move it back up  
                });

                //Following events are applied to the trigger (Hover events for the trigger)  
            }).hover(function () {
                $(this).addClass("subhover"); //On hover over, add class "subhover"  
            }, function () {  //On Hover Out  
                $(this).removeClass("subhover"); //On hover out, remove class "subhover"  
            });
        }); 
    </script>
</head>
<body>
    <header>
        <section class="page">
            <div id="title">
                <img src="@Url.Content("~/Content/Images/logo.png")" />
            </div>
            <div class="Headline">
                Agile DevDays
                <div class="SubHeadline">Where developers come to learn about Agile</div>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>        
        </section>
    </header>
    <section class="page">    
        <section id="mainWrapper">
            <nav class="navCol">
                <ul class="topnav borderBox">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Processes", "Processes", "Section")
                            <ul class="subnav">
                                <li>@Html.ActionLink("Agile", "Processes", "Section", new { SubArea = "Agile" }, null)</li>
                                <li>@Html.ActionLink("Scrum", "Processes", "Section", new { SubArea = "Scrum" }, null)</li>
                                <li>@Html.ActionLink("Kanban", "Processes", "Section", new { SubArea = "Kanban" }, null)</li>
                                <li>@Html.ActionLink("Lean", "Processes", "Section", new { SubArea = "Lean" }, null)</li>
                            </ul>
                    </li>
                    <li>@Html.ActionLink("Techniques", "Techniques", "Section")</li>
                    <li>@Html.ActionLink("Tools", "Tools", "Section")</li>
                    <li>@Html.ActionLink("Challenge", "Index", "Challenge")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </nav>
            <div class="clear" />
        </section>
        <section id="mainWrapper">
            <section id="main" class="mainCol borderBox">
            @RenderBody()            
            </section>
        </section>
        <aside id="rightCol" class="rightCol borderBox">
            <aside id="social">  
                @Social.TweetFollowButton("agiledevdays")
                @Social.FacebookFollowButton("http://www.facebook.com/pages/AgileDevDays/143633379075918", "/dv/Content/Images/facebook.png")        
            </aside>
            <aside style="text-align: center">
                <h3>Recomended Reading</h3>
                <a href="http://www.amazon.com/gp/product/1933988274/ref=as_li_tf_il?ie=UTF8&tag=isanl-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=1933988274"><img border="0" src="http://ws.assoc-amazon.com/widgets/q?_encoding=UTF8&Format=_SL110_&ASIN=1933988274&MarketPlace=US&ID=AsinImage&WS=1&tag=isanl-20&ServiceVersion=20070822" ></a><img src="http://www.assoc-amazon.com/e/ir?t=isanl-20&l=as2&o=1&a=1933988274&camp=217145&creative=399369" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            </aside>              
        </aside>
        <div class="clear" />
    </section>
    <div class="clear" />
    <section class="footerPanel">       
        Test
        <footer>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br />This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">work</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>
        </footer>
    </section>
</body>
</html>
